{%  extends 'base.html.twig' %}
{%  block stylesheets  %}
    {{  parent() }}
    <link rel="stylesheet" type="text/css" href="{{  asset('css/home.css') }}">
{% endblock %}
{%  block body %}


    {% block main %}


        <section class="cover-sec">
            <img src="http://via.placeholder.com/1600x400" alt="">
        </section>


        <main>
        <div class="main-section">
        <div class="container">
        <div class="main-section-data">
        <div class="row">
        <div class="col-lg-3">
            <div class="main-left-sidebar">
                <div class="user_profile">
                    <div class="user-pro-img">
                        <img src="http://via.placeholder.com/170x170" alt="">
                    </div><!--user-pro-img end-->
                    <div class="user_pro_status">
                        <ul class="flw-hr">
                            <li><a href="#" title="" class="flww"><i class="la la-plus"></i> Follow</a></li>
                            <li><a href="#" title="" class="hre">Hire</a></li>
                        </ul>
                        <ul class="flw-status">
                            <li>
                                <span>Following</span>
                                <b>34</b>
                            </li>
                            <li>
                                <span>Followers</span>
                                <b>155</b>
                            </li>
                        </ul>
                    </div><!--user_pro_status end-->

                </div><!--user_profile end-->
    {{ include('Includes/profiles.html.twig') }}
            </div><!--main-left-sidebar end-->
        </div>
        <div class="col-lg-6">
        <div class="main-ws-sec">
            <div class="user-tab-sec">
                <h3>{{currentUser.firstname}} {{currentUser.lastname}}</h3>
                <div class="star-descp">
                    <span>{{currentUser.username}}</span>
                    <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star-half-o"></i></li>
                    </ul>
                </div><!--star-descp end-->
                <div class="tab-feed">
                    <ul>
                        <li data-tab="feed-dd" class="active">
                            <a href="#" title="">
                                <img src="images/ic1.png" alt="">
                                <span>Posts</span>
                            </a>
                        </li>
                        <li data-tab="info-dd">
                            <a href="#" title="">
                                <img src="images/ic2.png" alt="">
                                <span>Info</span>
                            </a>
                        </li>
                        <li data-tab="portfolio-dd">
                            <a href="#" title="">
                                <img src="images/ic3.png" alt="">
                                <span>Portfolio</span>
                            </a>
                        </li>
                    </ul>
                </div><!-- tab-feed end-->
            </div><!--user-tab-sec end-->
            <div class="product-feed-tab current" id="feed-dd">
                <div class="posts-section">
                {% for post in posts %}
                    <div class="post-bar">
                        <div class="post_topbar">
                            <div class="usy-dt">
                                <img src="http://via.placeholder.com/50x50" alt="">
                                <div class="usy-name">
                                    <h3>{{currentUser.firstname}} {{currentUser.lastname}}</h3>
                                    <span><img src="images/clock.png" alt="">3 min ago</span>
                                </div>
                            </div>
                            <div class="ed-opts">
                                <a href="#" title="" class="ed-opts-open"><i class="la la-ellipsis-v"></i></a>
                                <ul class="ed-options">
                                    <li><a href="#" title="">Edit Post</a></li>
                                    <li><a href="#" title="">Unsaved</a></li>
                                    <li><a href="#" title="">Unbid</a></li>
                                    <li><a href="#" title="">Close</a></li>
                                    <li><a href="#" title="">Hide</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="epi-sec">

                            <ul class="bk-links">
                                <li><a href="#" title=""><i class="la la-bookmark"></i></a></li>
                                <li><a href="#" title=""><i class="la la-envelope"></i></a></li>
                            </ul>
                        </div>
                        <div class="job_descp">
                            <h3>{{post.title}}</h3>
                            <ul class="job-dt">


                            </ul>
                              {{ post.Description|raw }}
                            <ul class="skill-tags">
                                <li><a href="#" title="">HTML</a></li>
                                <li><a href="#" title="">PHP</a></li>
                                <li><a href="#" title="">CSS</a></li>
                                <li><a href="#" title="">Javascript</a></li>
                                <li><a href="#" title="">Wordpress</a></li>
                            </ul>
                        </div>
                        <div class="job-status-bar">
                            <ul class="like-com">
                                <li>
                                    <a href="#"><i class="la la-heart"></i> Like</a>
                                    <img src="images/liked-img.png" alt="">
                                    <span style="margin-left:10px;">25</span>
                                </li>
                                <li><a href="#" title="" class="com"><img src="images/com.png" alt=""> Comment 15</a></li>
                            </ul>
                            <a><i class="la la-eye"></i>Views 50</a>
                        </div>
                    </div><!--post-bar end-->
                  {% endfor %}

                    <div class="process-comm">
                        <div class="spinner">
                            <div class="bounce1"></div>
                            <div class="bounce2"></div>
                            <div class="bounce3"></div>
                        </div>
                    </div><!--process-comm end-->
                </div><!--posts-section end-->
            </div><!--product-feed-tab end-->
            <div class="product-feed-tab" id="info-dd">
                <div class="user-profile-ov">
                    <h3>Overview</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tempor aliquam felis, nec condimentum ipsum commodo id. Vivamus sit amet augue nec urna efficitur tincidunt. Vivamus consectetur aliquam lectus commodo viverra. Nunc eu augue nec arcu efficitur faucibus. Aliquam accumsan ac magna convallis bibendum. Quisque laoreet augue eget augue fermentum scelerisque. Vivamus dignissim mollis est dictum blandit. Nam porta auctor neque sed congue. Nullam rutrum eget ex at maximus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget vestibulum lorem.</p>
                </div><!--user-profile-ov end-->
                <div class="user-profile-ov st2">
                    <h3>Experience</h3>
                    <h4>Web designer</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tempor aliquam felis, nec condimentum ipsum commodo id. Vivamus sit amet augue nec urna efficitur tincidunt. Vivamus consectetur aliquam lectus commodo viverra. </p>
                    <h4>UI / UX Designer</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tempor aliquam felis, nec condimentum ipsum commodo id.</p>
                    <h4>PHP developer</h4>
                    <p class="no-margin">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tempor aliquam felis, nec condimentum ipsum commodo id. Vivamus sit amet augue nec urna efficitur tincidunt. Vivamus consectetur aliquam lectus commodo viverra. </p>
                </div><!--user-profile-ov end-->
                <div class="user-profile-ov">
                    <h3>Education</h3>
                    <h4>Master of Computer Science</h4>
                    <span>2015 - 2018</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tempor aliquam felis, nec condimentum ipsum commodo id. Vivamus sit amet augue nec urna efficitur tincidunt. Vivamus consectetur aliquam lectus commodo viverra. </p>
                </div><!--user-profile-ov end-->
                <div class="user-profile-ov">
                    <h3>Location</h3>
                    <h4>India</h4>
                    <p>151/4 BT Chownk, Delhi </p>
                </div><!--user-profile-ov end-->
                <div class="user-profile-ov">
                    <h3>Skills</h3>
                    <ul>
                        <li><a href="#" title="">HTML</a></li>
                        <li><a href="#" title="">PHP</a></li>
                        <li><a href="#" title="">CSS</a></li>
                        <li><a href="#" title="">Javascript</a></li>
                        <li><a href="#" title="">Wordpress</a></li>
                        <li><a href="#" title="">Photoshop</a></li>
                        <li><a href="#" title="">Illustrator</a></li>
                        <li><a href="#" title="">Corel Draw</a></li>
                    </ul>
                </div><!--user-profile-ov end-->
            </div><!--product-feed-tab end-->
            <div class="product-feed-tab" id="portfolio-dd">
                <div class="portfolio-gallery-sec">
                    <h3>Portfolio</h3>
                    <div class="gallery_pf">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                                <div class="gallery_pt">
                                    <img src="http://via.placeholder.com/271x174" alt="">
                                    <a href="#" title=""><img src="images/all-out.png" alt=""></a>
                                </div><!--gallery_pt end-->
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                                <div class="gallery_pt">
                                    <img src="http://via.placeholder.com/170x170" alt="">
                                    <a href="#" title=""><img src="images/all-out.png" alt=""></a>
                                </div><!--gallery_pt end-->
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                                <div class="gallery_pt">
                                    <img src="http://via.placeholder.com/170x170" alt="">
                                    <a href="#" title=""><img src="images/all-out.png" alt=""></a>
                                </div><!--gallery_pt end-->
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                                <div class="gallery_pt">
                                    <img src="http://via.placeholder.com/170x170" alt="">
                                    <a href="#" title=""><img src="images/all-out.png" alt=""></a>
                                </div><!--gallery_pt end-->
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                                <div class="gallery_pt">
                                    <img src="http://via.placeholder.com/170x170" alt="">
                                    <a href="#" title=""><img src="images/all-out.png" alt=""></a>
                                </div><!--gallery_pt end-->
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                                <div class="gallery_pt">
                                    <img src="http://via.placeholder.com/170x170" alt="">
                                    <a href="#" title=""><img src="images/all-out.png" alt=""></a>
                                </div><!--gallery_pt end-->
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                                <div class="gallery_pt">
                                    <img src="http://via.placeholder.com/170x170" alt="">
                                    <a href="#" title=""><img src="images/all-out.png" alt=""></a>
                                </div><!--gallery_pt end-->
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                                <div class="gallery_pt">
                                    <img src="http://via.placeholder.com/170x170" alt="">
                                    <a href="#" title=""><img src="images/all-out.png" alt=""></a>
                                </div><!--gallery_pt end-->
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                                <div class="gallery_pt">
                                    <img src="http://via.placeholder.com/170x170" alt="">
                                    <a href="#" title=""><img src="images/all-out.png" alt=""></a>
                                </div><!--gallery_pt end-->
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                                <div class="gallery_pt">
                                    <img src="http://via.placeholder.com/170x170" alt="">
                                    <a href="#" title=""><img src="images/all-out.png" alt=""></a>
                                </div><!--gallery_pt end-->
                            </div>
                        </div>
                    </div><!--gallery_pf end-->
                </div><!--portfolio-gallery-sec end-->
            </div><!--product-feed-tab end-->
        </div><!--main-ws-sec end-->


</div>

        {% block RightSidebar %}
            {{ parent() }}
        {% endblock %}

    {%  endblock %}

{% endblock %}

{% block javascripts %}
   <script type="text/javascript">
     function showProfilUser(username)
     {
        document.location.href = "user/" + username ;
     }
   </script>
{% endblock %}