{%  extends 'base.html.twig' %}
{%  block stylesheets  %}
    {{  parent() }}
    <link rel="stylesheet" type="text/css" href="{{  asset('css/home.css') }}">
{% endblock %}
{%  block body %}
    <section class="cover-sec">
        {% if(currentUser.profile.getCouvertureImg()) %}
            <img src="{{ asset('upload/user/'~ currentUser.profile.getCouvertureImg())}}" alt="" width="100%" height="400">


        {% else %}
            <img src="{{  asset('images/1600x400.png') }}" alt="" width="100%" height="400">
        {% endif %}

    </section>
   {% block LeftSidebar %}
       {{ parent() }}
   {% endblock %}
    {% block main %}




        <div class="col-lg-6">
        <div class="main-ws-sec">
            <div class="user-tab-sec">
                <h3>{{currentUser.firstname}} {{currentUser.lastname}}</h3>
                <p>{{  currentUser.profile.getShortPresentation() }}</p>
                <div class="star-descp">
                    <span>{{currentUser.username}}</span>
                    <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star-half-o"></i></li>
                    </ul>

                </div><!--star-descp end-->
                <p>{{  currentUser.profile.getDescription() }}</p>
                <div class="tab-feed">
                    <ul>
                        <li data-tab="feed-dd" class="active">
                            <a href="#post" title="">
                                <img src="images/ic1.png" alt="">
                                <span>Posts</span>
                            </a>
                        </li>



                    </ul>
                </div><!-- tab-feed end-->
            </div><!--user-tab-sec end-->
            <div class="product-feed-tab current" id="post">
                <div class="posts-section">
                {% for post in posts %}
                    <div class="post-bar">
                        <div class="post_topbar">
                            <div class="usy-dt">
                                {% if(post.getCreatedBy.profile.getProfilImg()) %}
                                    <img src="{{   asset('/upload/user/'~post.getCreatedBy.profile.getProfilImg()) }}" alt=""width="50" height="50">
                                {%  else %}
                                    <img src="http://via.placeholder.com/50x50" alt="">
                                {%  endif %}
                                <div class="usy-name">
                                    <h3>{{  post.getCreatedBy.username }} </h3>
                                    <span><img src="{{   asset('images/clock.png') }}" alt="">{{ post.createdAt | date }}</span>
                                </div>
                            </div>
                            <div class="ed-opts">
                                <a href="#" title="" class="ed-opts-open"><i class="la la-ellipsis-v"></i></a>
                                <ul class="ed-options">
                                    <li><a href="{{ path('user_post_edit',{id:post.id}) }}" title="">Edit Post</a></li>

                                    <li><a href="{{ path('user_post_delete',{id:post.id}) }}" title="">Delete</a></li>

                                </ul>
                            </div>
                        </div>


                        <h1 class="py-2 ml-2 post-title">{{ post.Title }}</h1>
                        <div class="d-flex flex-column post-content p-3">
                            {{ post.Description|raw }}
                            <a class="text-center" href="{{ path('show_post',{'id':post.id}) }}" title="">view more</a>
                        </div>



                        <div class="job-status-bar">
                            <ul class="like-com">

                                <li><a href="#" title="" class="com"><img src="images/com.png" alt=""> {{ post.comments | length }} Comments</a></li>
                            </ul>

                        </div>
                    </div>
                  {% endfor %}

                    <div class="process-comm">
                        <div class="spinner">
                            <div class="bounce1"></div>
                            <div class="bounce2"></div>
                            <div class="bounce3"></div>
                        </div>
                    </div><!--process-comm end-->
                </div><!--posts-section end-->
            </div><!--product-feed-tab end-->
            <div class="product-feed-tab" id="info-dd">
                <div class="user-profile-ov">
                    <h3>Overview</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tempor aliquam felis, nec condimentum ipsum commodo id. Vivamus sit amet augue nec urna efficitur tincidunt. Vivamus consectetur aliquam lectus commodo viverra. Nunc eu augue nec arcu efficitur faucibus. Aliquam accumsan ac magna convallis bibendum. Quisque laoreet augue eget augue fermentum scelerisque. Vivamus dignissim mollis est dictum blandit. Nam porta auctor neque sed congue. Nullam rutrum eget ex at maximus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget vestibulum lorem.</p>
                </div><!--user-profile-ov end-->
                <div class="user-profile-ov st2">
                    <h3>Experience</h3>
                    <h4>Web designer</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tempor aliquam felis, nec condimentum ipsum commodo id. Vivamus sit amet augue nec urna efficitur tincidunt. Vivamus consectetur aliquam lectus commodo viverra. </p>
                    <h4>UI / UX Designer</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tempor aliquam felis, nec condimentum ipsum commodo id.</p>
                    <h4>PHP developer</h4>
                    <p class="no-margin">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tempor aliquam felis, nec condimentum ipsum commodo id. Vivamus sit amet augue nec urna efficitur tincidunt. Vivamus consectetur aliquam lectus commodo viverra. </p>
                </div><!--user-profile-ov end-->
                <div class="user-profile-ov">
                    <h3>Education</h3>
                    <h4>Master of Computer Science</h4>
                    <span>2015 - 2018</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tempor aliquam felis, nec condimentum ipsum commodo id. Vivamus sit amet augue nec urna efficitur tincidunt. Vivamus consectetur aliquam lectus commodo viverra. </p>
                </div><!--user-profile-ov end-->
                <div class="user-profile-ov">
                    <h3>Location</h3>
                    <h4>India</h4>
                    <p>151/4 BT Chownk, Delhi </p>
                </div><!--user-profile-ov end-->
                <div class="user-profile-ov">
                    <h3>Skills</h3>
                    <ul>
                        <li><a href="#" title="">HTML</a></li>
                        <li><a href="#" title="">PHP</a></li>
                        <li><a href="#" title="">CSS</a></li>
                        <li><a href="#" title="">Javascript</a></li>
                        <li><a href="#" title="">Wordpress</a></li>
                        <li><a href="#" title="">Photoshop</a></li>
                        <li><a href="#" title="">Illustrator</a></li>
                        <li><a href="#" title="">Corel Draw</a></li>
                    </ul>
                </div><!--user-profile-ov end-->
            </div><!--product-feed-tab end-->
            <div class="product-feed-tab" id="portfolio-dd">
                <div class="portfolio-gallery-sec">
                    <h3>Portfolio</h3>
                    <div class="gallery_pf">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                                <div class="gallery_pt">
                                    <img src="http://via.placeholder.com/271x174" alt="">
                                    <a href="#" title=""><img src="images/all-out.png" alt=""></a>
                                </div><!--gallery_pt end-->
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                                <div class="gallery_pt">
                                    <img src="http://via.placeholder.com/170x170" alt="">
                                    <a href="#" title=""><img src="images/all-out.png" alt=""></a>
                                </div><!--gallery_pt end-->
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                                <div class="gallery_pt">
                                    <img src="http://via.placeholder.com/170x170" alt="">
                                    <a href="#" title=""><img src="images/all-out.png" alt=""></a>
                                </div><!--gallery_pt end-->
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                                <div class="gallery_pt">
                                    <img src="http://via.placeholder.com/170x170" alt="">
                                    <a href="#" title=""><img src="images/all-out.png" alt=""></a>
                                </div><!--gallery_pt end-->
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                                <div class="gallery_pt">
                                    <img src="http://via.placeholder.com/170x170" alt="">
                                    <a href="#" title=""><img src="images/all-out.png" alt=""></a>
                                </div><!--gallery_pt end-->
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                                <div class="gallery_pt">
                                    <img src="http://via.placeholder.com/170x170" alt="">
                                    <a href="#" title=""><img src="images/all-out.png" alt=""></a>
                                </div><!--gallery_pt end-->
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                                <div class="gallery_pt">
                                    <img src="http://via.placeholder.com/170x170" alt="">
                                    <a href="#" title=""><img src="images/all-out.png" alt=""></a>
                                </div><!--gallery_pt end-->
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                                <div class="gallery_pt">
                                    <img src="http://via.placeholder.com/170x170" alt="">
                                    <a href="#" title=""><img src="images/all-out.png" alt=""></a>
                                </div><!--gallery_pt end-->
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                                <div class="gallery_pt">
                                    <img src="http://via.placeholder.com/170x170" alt="">
                                    <a href="#" title=""><img src="images/all-out.png" alt=""></a>
                                </div><!--gallery_pt end-->
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                                <div class="gallery_pt">
                                    <img src="http://via.placeholder.com/170x170" alt="">
                                    <a href="#" title=""><img src="images/all-out.png" alt=""></a>
                                </div><!--gallery_pt end-->
                            </div>
                        </div>
                    </div><!--gallery_pf end-->
                </div><!--portfolio-gallery-sec end-->
            </div><!--product-feed-tab end-->
        </div><!--main-ws-sec end-->


</div>

        {% block RightSidebar %}
            {{ parent() }}
        {% endblock %}

    {%  endblock %}

{% endblock %}

{% block javascripts %}

{% endblock %}