{%  extends 'base.html.twig' %}
{%  block body %}


    {% block main %}

<section class="profile-account-setting">
        <div class="container">
            <div class="account-tabs-setting">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="acc-leftbar">
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link" id="nav-password-tab" data-toggle="tab" href="#nav-password" role="tab" aria-controls="nav-password" aria-selected="false"><i class="fa fa-lock"></i>Change Password</a>
                            </div>
                        </div><!--acc-leftbar end-->
                    </div>
                    <div class="col-lg-9">

                        {{ form_start(form, {'method': 'POST'}) }}
                        <div class="row">
                            <div class="col-6">
                                <div class="form-error">
                                    {{ form_errors(form.username) }}
                                </div>
                                {{ form_row(form.username) }}
                            </div>

                            <div class="col-6">
                                {{ form_row(form.firstname) }}
                            </div>

                            <div class="col-6">
                                {{ form_row(form.password.first) }}

                            </div>
                            <div class="col-6">
                                {{ form_row(form.password.second) }}
                            </div>
                            <div class="col-6">
                                {{ form_row(form.lastname) }}
                            </div>
                            <div class="col-6">
                                {{ form_row(form.email) }}
                            </div>
                            <div class="col-12">
                                {{ form_row(form.Profile.short_presentation) }}
                            </div>
                            <div class="col-8">
                                {{ form_row(form.Profile.description) }}
                            </div>
                            <div class="col-4">
                                {{ form_row(form.Profile.pays) }}
                            </div>
                            <div class="col-6">
                                {{ form_row(form.Profile.profil_img) }}
                            </div>
                            <div class="col-6">
                                {{ form_row(form.Profile.couverture_img) }}
                            </div>
                            <button class="d-block mx-auto" type="submit" value="submit">Update</button>
{{ form_end(form) }}
                        </div>


                 </div>
                </div>
            </div>
        </div>
    </section>

    {%  endblock %}

{% endblock %}