<div class="wrapper">



    <header>
        <div class="container">
            <div class="header-data">
                <div class="logo">
                    <a href="index.html" title=""><img src="{{  asset('images/logo_twitter_blue.png') }}" style="width:40px;height:30px;" alt=""></a>
                </div><!--logo end-->


                <nav>
                    <ul>




                        <li>
                            <a href="{{ path('home') }}" title="">
                                <span><img src="{{   asset('images/icon1.png') }}" alt=""></span>
                                Home
                            </a>
                        </li>


                        <li>
                            <a href="{{ path('user_profil',{id:app.user.id}) }}" title="">
                                <span><img src="{{   asset('images/icon4.png') }}" alt=""></span>
                                Account
                            </a>

                        </li>
                        <li>
                            <a  href="{{   path('profiles') }}" title="">
                                <span><img src="{{   asset('images/icon4.png') }}" alt=""></span>
                                Profiles</a>
                        </li>

                    <li>
                            <a  href="{{ path('logout') }}" title="">
                                <span><img src="{{   asset('images/icon2.png') }}" alt=""></span>
                                Logout</a>
                    </li>




                    </ul>

                </nav>
                <div class="menu-btn">

                </div><!--menu-btn end-->
                <div class="user-account">
                    <div class="user-info">
                        {% if(app.user.profile.getProfilImg()) %}
                            <img src="{{ asset('upload/user/'~ app.user.profile.getProfilImg())}}" alt="" width="30" height="30">


                        {% else %}
                            <img src="{{  asset('images/100x100.png') }}"  alt="" width="30" height="30">
                        {% endif %}

                    </div>

                </div>
            </div><!--header-data end-->
        </div>
    </header><!--header end-->
