<div class="col-lg-3 col-md-4 pd-left-none no-pd">
        <div class="main-left-sidebar no-margin">
        {% if user != null %}
            <div class="user-data full-width">
                <div class="user-profile">
                    <div class="username-dt">
                        <div class="usr-pic">
                            {% if(app.user.profile.getProfilImg()) %}
                                <img src="{{ asset('upload/user/'~ app.user.profile.getProfilImg())}}" alt="" width="100" height="100">


                            {% else %}
                            <img src="http://via.placeholder.com/100x100" alt="">
                            {% endif %}
                        </div>
                    </div><!--username-dt end-->
                    <div class="user-specs">
                        <h3>{{user.firstname}} {{user.lastname}}</h3>
                        <span>{{user.username}}</span>
                    </div>
                </div><!--user-profile end-->
                <ul class="user-fw-status">
                    <li>
                        <h4>Following</h4>
                        <span>34</span>
                    </li>
                    <li>
                        <h4>Followers</h4>
                        <span>155</span>
                    </li>
                    <li>
                        <a href="user/{{user.id}}" title="">View Profile</a>
                    </li>
                </ul>
            </div><!--user-data end-->
      {% endif %}

                {{ include('Includes/profiles.html.twig') }}

            </div><!--main-left-sidebar end-->
    </div>
