<div class="col-lg-3 pd-right-none no-pd">
    <div class="right-sidebar">

        <div class="widget widget-jobs">
            <div class="sd-title">
                <h3>Last 10 Posts</h3>
                <i class="la la-ellipsis-v"></i>
            </div>
            <div class="jobs-list">
                {% for post in last_posts %}
                <div class= "job-info">
                    <div class="job-details">
                        <h3>{{ post.Title }}</h3>
                        <p> {{  post.Description|striptags|slice(0, 40)  }} ...</p>
                    </div>
                    <div class="hr-rate">
                        <span>{{ post.getCreatedBy.username }}</span>
                    </div>
                </div><!--job-info end-->
                {% endfor %}

            </div><!--jobs-list end-->
        </div><!--widget-jobs end-->
        <div class="widget widget-jobs">
            <div class="sd-title">
                <h3>Last 3 users registed</h3>
                <i class="la la-ellipsis-v"></i>
            </div>
            <div class="jobs-list">
                {% for user in lastUsersRegitred %}
                <div class="job-info">
                    <div class="job-details">
                        <h3>{{ user.username}}</h3>
                        <p>{{ user.getProfile().getShortPresentation()}}</p>
                    </div>
                </div><!--job-info end-->
                {% endfor %}
            </div><!--jobs-list end-->
        </div><!--widget-jobs end-->
        <!--suggestions-list end-->
        </div>
    </div><!--right-sidebar end-->
</div>