{% if is_granted('ROLE_USER') %}


{{ form_start(form,{'method': 'POST'}) }}
{{ form_widget(form) }}
    <div class="d-flex justify-content-center">
<button type="submit" class="btn btn-primary mx-auto ">{{ button|default('Post') }}</button>
    {% for message in app.flashes('success') %}
        <div class="text-success text-center w-25 ml-3 d-block">
            {{ message }}
        </div>
    {% endfor %}
    </div>
{{ form_end(form) }}
{%  endif %}

