{% extends 'base.html.twig' %}
{%  block body %}
<div class="wrapper">


    <section class="forum-page">
        <div class="container">
            <div class="forum-questions-sec">
                <div class="row">
                    <div class="col-lg-8">
                        <input type="hidden" id="userId" value="{{ post.getCreatedBy().id }}">
                        <input type="hidden" id="postId" value="{{ post.id }}">
                        <div class="forum-post-view" >

                            <div class="usr-question">
                                <div class="usr_img">
                                    <img src="http://via.placeholder.com/60x60" alt="">
                                </div>
                                <div class="usr_quest">
                                    <h3> {{ post.title }}</h3>
                                    <span><i class="fa fa-clock-o"></i>3 min ago</span>

                                    {{ post.description | raw }}

                                    <div class="comment-sec">
                                        <h3>{{ nbComments }} Comments</h3>
                                        <ul id="comments">
                                        {% for  comment in post.comments %}

                                            <li>
                                                <div class="comment-list">
                                                    <div class="bg-img">
                                                        {% if(comment.getCommentBy.profile.getProfilImg()) %}
                                                            <img src="{{   asset('/upload/user/'~comment.getCommentBy.profile.getProfilImg()) }}" alt=""width="50" height="50">
                                                        {%  else %}
                                                            <img src="http://via.placeholder.com/50x50" alt="">
                                                        {%  endif %}
                                                    </div>
                                                    <div class="comment">
                                                        <h3>{{ comment.getCommentBy().username }}</h3>
                                                        <span><img src="images/clock.png" alt="">{{ comment.createdat | date }}</span>
                                                        <p>{{ comment.content }}</p>

                                                    </div>
                                                </div><!--comment-list end-->
                                            </li>


                                        {% endfor %}

                                        </ul>
                                    </div>
                                </div><!--usr_quest end-->
                            </div><!--usr-question end-->
                        </div><!--forum-post-view end-->
                        <div class="post-comment-box">

                            <div class="user-poster">
                                <div class="usr-post-img">
                                    <img src="http://via.placeholder.com/40x40" alt="">
                                </div>
                                <div class="post_comment_sec">

                                        <textarea  id="comment" class="form-control" name='content' placeholder="Your Answer"></textarea>

                                        <input type="hidden" name="_csrf_token"
                                               value="{{ csrf_token('authenticate') }}">


                                </div><!--post_comment_sec end-->
                                <button class="float-right mt-1 btn btn-md btn-danger" id="addComment" type="submit">Comment</button>

                            </div><!--user-poster end-->
                        </div><!--post-comment-box end-->
                        <div class="next-prev">
                            <a href="{{ path('show_post',{id:post.id - 1 }) }}" title="" class="fl-left">Preview</a>
                            <a href="{{ path('show_post',{id:post.id + 1 }) }}" title="" class="fl-right">Next</a>
                        </div><!--next-prev end-->
                    </div>
                    <div class="col-lg-4">
                        <div class="widget widget-user">
                            <h3 class="title-wd">Last 10 users</h3>
                            <ul>
                                {% for user in lastUsers %}
                                <li>
                                    <div class="usr-msg-details">
                                        <div class="usr-ms-img">
                                            <img src="http://via.placeholder.com/50x50" alt="">
                                        </div>
                                        <div class="usr-mg-info">
                                            <h3>{{user.username}}</h3>
                                            <p>{{user.getProfile().getShortPresentation()}}</p>
                                        </div><!--usr-mg-info end-->
                                    </div>
                                    <span><img src="images/price1.png" alt="">{{user.getFollowing() | length}}</span>
                                </li>
                                {% endfor %}

                            </ul>
                        </div><!--widget-user end-->
                        <div class="widget widget-adver">
                            <img src="http://via.placeholder.com/370x270" alt="">
                        </div><!--widget-adver end-->
                    </div>
                </div>
            </div><!--forum-questions-sec end-->
        </div>
    </section><!--forum-page end-->



{% endblock %}

    {% block javascripts %}
        {{  parent() }}
        <script   src="{{ asset('js/comments/comments.js') }}"></script>
    {% endblock %}
