{%  extends 'base.html.twig' %}
{% block body %}
<body class="sign-in">


<div class="wrapper">


    <div class="sign-in-page">
        <div class="signin-popup">
            <div class="signin-pop">
                <div class="row">
                    <div class="col-lg-2">
                <div class="cmp-info">

                            <div class="cm-logo  px-0 w-100" style="text-align:center;margin-bottom:30px!important;">
                                <img class="d-block mx-auto" src="images/logo_twitter_red.png" alt="" height="50px" style="float:none">
                                <p class="text-center">Twitter is a free social networking microblogging service that allows registered members to broadcast short posts called tweets.</p>
                            </div><!--cm-logo end-->

                </div>
                    </div>

                    <div class="col-lg-10">

                        <div class="login-sec">
                            <ul class="sign-control">
                                <li data-tab="tab-1" ><a href="#"  title="rgerger" onclick="pressBtnSignIn()">Sign in</a></li>
                                <li data-tab="tab-2" class="current"><a href="#" title="">Sign up</a></li>
                            </ul>

                            <div class="sign_in_sec current" id="tab-2">
                                <h3>Sign up</h3>


                                <div class="dff-tab current" >
                                    {{ form_start(form,{attr: {novalidate: 'novalidate'}}) }}
                                    <div class="my-custom-class-for-errors my-2">
                                        {{ form_errors(form) }}
                                    </div>
                                    <div class="row">
                                    <div class="col-6">
                                        <div class="form-error">
                                            {{ form_errors(form.username) }}
                                        </div>
                                        {{ form_row(form.username) }}
                                    </div>

                                    <div class="col-6">
                                    {{ form_row(form.firstname) }}
                                    </div>
                                    <div class="col-6">
                                        {{ form_row(form.lastname) }}
                                    </div>
                                    <div class="col-6">
                                        {{ form_row(form.password.first) }}

                                    </div>
                                        <div class="col-6">
                                        {{ form_row(form.password.second) }}
                                        </div>
                                    <div class="col-6">
                                        {{ form_row(form.email) }}
                                    </div>
                                        <div class="col-12">
                                            {{ form_row(form.Profile.short_presentation) }}
                                        </div>
                                    <div class="col-8">
                                        {{ form_row(form.Profile.description) }}
                                    </div>
                                        <div class="col-4">
                                            {{ form_row(form.Profile.pays) }}
                                        </div>
                                        <div class="col-6">
                                            {{ form_row(form.Profile.profil_img) }}
                                        </div>
                                        <div class="col-6">
                                            {{ form_row(form.Profile.couverture_img) }}
                                        </div>



                                    </div>

                                    <div class="col-lg-12 no-pdd">
                                        <button class="d-block mx-auto" type="submit" value="submit">Inscription</button>
                                    </div>
                                    {{ form_end(form) }}


                                        </div>

                                </div><!--dff-tab end-->

                            </div>
                        </div><!--login-sec end-->
                    </div>
                </div>
            </div><!--signin-pop end-->
        </div><!--signin-popup end-->
        <div class="footy-sec">
            <div class="container">
                <ul>
                    <li><a href="#" title="">Help Center</a></li>
                    <li><a href="#" title="">Privacy Policy</a></li>
                    <li><a href="#" title="">Community Guidelines</a></li>
                    <li><a href="#" title="">Cookies Policy</a></li>
                    <li><a href="#" title="">Career</a></li>
                    <li><a href="#" title="">Forum</a></li>
                    <li><a href="#" title="">Language</a></li>
                    <li><a href="#" title="">Copyright Policy</a></li>
                </ul>
                <p><img src="images/copy-icon.png" alt="">Copyright 2018</p>
            </div>
        </div><!--footy-sec end-->
    </div><!--sign-in-page end-->


</div><!--theme-layout end-->
{%  endblock %}

{% block javascripts %}
   <script type="text/javascript">
     function pressBtnSignIn()
     {
        document.location.href = "login";
     }
   </script>
{% endblock %}
